<p style="color: green"><%= notice %></p>

<h1>Shipment details</h1>

<div id="shipment_details">
  <% @shipment_details.each do |shipment_detail| %>
    <%= render shipment_detail %>
    <p>
      <%= link_to "Show this shipment detail", shipment_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New shipment detail", new_shipment_detail_path %>
